/* Set the height of the body and html to 100% to make sure the page fills the entire viewport */
body,
html {
  height: 100%;
  height: 100%;
  /* background-image: url(https://pbs.twimg.com/media/EU8GlrJWsAAZKHx?format=jpg&name=large);
  background-size: cover;
  background-attachment: fixed; */
}

/* Style for the rectangles */
.rectangle {
  background-color: lightgray;
  width: 600px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* Style for the container of rectangles */
.rectangles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center the rectangles vertically */
}

/* Align the rectangles to the center of the page */
.rectangles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style for the image inside the rectangle */
.rectangle img {
  width: 175px;
  height: 175px;
  border-radius: 10px;
  margin-right: 20px;
}
.message-seller-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.buy-now-button {
  background-color: maroon;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
